@tailwind base;
@tailwind components;
@tailwind utilities;

*{

  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
/* ============================
   Brandon Grotesque Font Family
   ============================ */

@font-face {
  font-family: "BrandonGrotesque-Thin";
  src: url("./assets/fonts/HvDTrial_Brandon_Grotesque_thin-BF64a625c9034b9.otf") format("opentype");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "BrandonGrotesque-ThinItalic";
  src: url("./assets/fonts/HvDTrial_Brandon_Grotesque_thin_italic-BF64a625c918a96.otf") format("opentype");
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "BrandonGrotesque-Light";
  src: url("./assets/fonts/HvDTrial_Brandon_Grotesque_light-BF64a625c93e709.otf") format("opentype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "BrandonGrotesque-LightItalic";
  src: url("./assets/fonts/HvDTrial_Brandon_Grotesque_light_italic-BF64a625c93ac64.otf") format("opentype");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "BrandonGrotesque-Regular";
  src: url("./assets/fonts/HvDTrial_Brandon_Grotesque_regular-BF64a625c9311e1.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "BrandonGrotesque-RegularItalic";
  src: url("./assets/fonts/HvDTrial_Brandon_Grotesque_regular_italic-BF64a625c94445e.otf") format("opentype");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "BrandonGrotesque-Medium";
  src: url("./assets/fonts/HvDTrial_Brandon_Grotesque_medium-BF64a625c84a521.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "BrandonGrotesque-MediumItalic";
  src: url("./assets/fonts/HvDTrial_Brandon_Grotesque_medium_italic-BF64a625c928c55.otf") format("opentype");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "BrandonGrotesque-Bold";
  src: url("./assets/fonts/HvDTrial_Brandon_Grotesque_bold-BF64a625c9151d5.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "BrandonGrotesque-BoldItalic";
  src: url("./assets/fonts/HvDTrial_Brandon_Grotesque_bold_italic-BF64a625c93b0ce.otf") format("opentype");
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "BrandonGrotesque-Black";
  src: url("./assets/fonts/HvDTrial_Brandon_Grotesque_black-BF64a625c944b08.otf") format("opentype");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "BrandonGrotesque-BlackItalic";
  src: url("./assets/fonts/HvDTrial_Brandon_Grotesque_black_italic-BF64a625c93406c.otf") format("opentype");
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}



